/*
FOUNDATION
*/


:root {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

/*
GENERIC RULES
*/


body {
    background: #bbb;
    font-family: Arial, Helvetica, sans-serif;
}